* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.btn {
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 8px;
    background: #E55473;
    color: #fff;
}

span {
    color: #E55473;

}

input {
    padding: 0px 200px 0px 10px;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-right: 10px;
}
/* =============default================== */

/* ==============main style============== */

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* height: 96vh; */
    background: rgba(229, 84, 115, 0.10);
    padding: 30px 51px 0px 96px;

}

.header-content {
    max-width: 500px;
}

.header-content>h1 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.header-content>p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}


.header-hero>img {
    width: 500px;
}
/* ============header style end================== */

.chart-section{
    background-image: linear-gradient(to right, #3d3b3b , rgb(107, 107, 102));
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-top: 20px;
}
.chart-info{
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.chart-section div h1{
    padding-bottom: 20px;
}

/* ===================chart section end=================== */


.featured-section {
    margin: 120px 0px;
}

.tittle {
    text-align: center;
}

.content {
    text-align: center;
}

.featured-section h3 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-top: 40px;
}

.featured-section p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.fetured-froduct,
.insta-froduct {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    padding-top: 20px;

}

.froduct-info {
    text-align: center;
    margin: 30px 20px;
}

.froduct-info img {
    width: 200px;
}

.froduct-info .info-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 20px 0px 0px 0px;
}

.froduct-info .info-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 60px 0px;
}

.froduct-info .info-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 64px 7px 0px;
}

.froduct-info>h6 {
    padding-top: 20px;
    font-size: 17px;
    font-weight: 400;
    text-decoration: underline;
}

/* ==============featured section end================ */
.help-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 700px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.help-section .help-menus img {
    width: 60px;
}

.help-section .help-menus p {
    font-size: 12px;
    font-weight: 500;
    padding-top: 10px;
}

/* ==============help section end ================ */

.offer-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.offer-section .offer-info {
    text-align: center;
    padding-right: 60px;
}
.offer-section .offer-info h1{
    padding: 0px 0px 20px 0px ;
    font-size: 3rem;
    color: #111010;
    font-weight: 600;
}

.offer-section .offer-info h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 30px;
}

.offer-section .offer-info p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* ==================offer section end================== */
.network-section {
    margin: 100px auto;
}

.network-section h3 {
    padding-bottom: 30px;
}

.network-section p {
    padding-bottom: 20px;
}

.insta-froduct img {
    width: 220px;
    margin: 15px;
}

/* =================network-section end =============== */

form {
    background-image: url("../image/banner/Rectangle 9.png");
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 120px 200px;
    border-radius: 8px;
}

form h1 {
    padding: 20px;
}

/* =================form section end============== */
footer {
    background: #111010;
    color: #fff;
    text-align: center;
    padding: 50px 0px;
}

footer h1{
    font-size: 48px;
    font-weight: 800;
    padding: 30px;
}
footer p{
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 30px;
    line-height: 25px;
}
footer small{
    font-size: 13px;
    font-weight: 300;
}